<h1>Itinerary</h1>
<% @event_times.inspect %>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 

  <tr>
    <td><% @itinerary_path.length unless @itinerary_path.nil? %></td>
  </tr>
</table>